{% extends "aj_bbase.html" %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="/static/lib/microphone-0.7.0/microphone.min.css">
	<script type="text/javascript" src="/static/lib/microphone-0.7.0/microphone.js"></script>
	
	<div>
		
	</div>
	
	<div class="main" data-ng-controller="QueryCtrl" data-ng-init="init()">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-2 col-md-4" style="text-align: center;">
					
					<center>
						<div id="microphone"></div>
					</center>
					
					<pre id="result"></pre>
					<div id="info"></div>
					<div id="error"></div>
					
					<script type="text/javascript">
					  var mic = new Wit.Microphone(document.getElementById("microphone"));
					  var info = function (msg) {
						document.getElementById("info").innerHTML = msg;
					  };
					  var error = function (msg) {
						document.getElementById("error").innerHTML = msg;
					  };
					  mic.onready = function () {
						info("Microphone is ready to record");
						//mic.start();
					  };
					  mic.onaudiostart = function () {
						info("Recording started");
						error("");
					  };
					  mic.onaudioend = function () {
						info("Recording stopped, processing started");
					  };
					  
					var g_di = {};
					
					  mic.onresult = function (intent, entities) {
						g_di["intent"] = intent;
						var r = kv("intent", intent);
						for (var k in entities) {
						  var e = entities[k];

						  if (!(e instanceof Array)) {
							r += kv(k, e.value);
						  } else {
							for (var i = 0; i < e.length; i++) {
							  r += kv(k, e[i].value);
							}
						  }
						}

						document.getElementById("result").innerHTML = r;
						
						//callDecisionApi(intent, entities);
						callQueryApi(intent, entities);
						
						console.log("intent");
						console.log(intent);
						console.log("entities");
						console.log(entities);
					  };
					  
					  mic.onerror = function (err) {
						console.log("onerror");
						console.log(err);
						error("Error: " + err);
					  };
					  mic.onconnecting = function () {
						info("Microphone is connecting");
					  };
					  mic.ondisconnected = function () {
						info("Microphone is not connected");
					  };

					  mic.connect("DJU2RQTEEIHV2ZLEXJUMFUJGSLP6QKKM");
					  //console.log(mic);
					  // mic.start();
					  // mic.stop();
					  
					  function kv (k, v) {
						if (toString.call(v) !== "[object String]") {
						  v = JSON.stringify(v);
						}
						g_di[k] = v;
						return k + "=" + v + "\n";
					  }
					
					// Make a call to your decision matrix api initiate a decisionMatrix() object // api/v1/decision
					// to make a decision as to whether Search or Sms
					// inside the decision page, initiate Search() or Sms() object
					// having different attributes 
					// Search.url = google.com
					// Sms.url = some_sms_api_url
					function callDecisionApi(intent, entities) {
						url = "/api/v1/decision";
						d = {"intent": intent, "entities": entities};
						onSuccess = function(res){
							
						};
						onError = function(err){
							
						};
						
						makeCall("POST", url, d, onSuccess, onError);
					}
					
					function callQueryApi(intent, entities) {
						//url = "/api/v1/query/?format=json";
						url = "/api/v1/"+intent+"/?format=json";
						d = {"intent": intent, "entities": entities};
						onSuccess = function(res){
							//QueryCtrl.search_results = res;
							//QueryCtrl.search_results = ;
							e = angular.element($('#search_res')).scope();
							e.search_results = res.objects;
							e.$apply();
						};
						onError = function(err){
						};
						
						//makeCall("POST", url, d, onSuccess, onError, "application/json");
						makeCall("GET", url, g_di, onSuccess, onError, "application/json");
					}
					
					function makeCall(method, url, data, onSuccess, onError, ctype) {
						
						di = {
							method: method,
							url: url,
							data: data,
							success: onSuccess, 
							error: onError,
							contentType: ctype
						};
						
						$.ajax(di);
					}
					
					
					</script>
					
				</div>
				
				<div class="col-lg-2 col-md-4">
				</div>
			
			</div>
			
			
			<div class="row" id="search_res">
				<div class="col-lg-12 col-md-12">
					<div class="panel panel-default" data-ng-repeat="i in search_results">
						<!-- Default panel contents -->
						<div class="panel-heading">
							<a href="{$ i.link $}">{$ i.title $}</a>
						</div>
						<div class="panel-body">
							<p>
								{$ i.htmlSnippet $}
							</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-lg-2 col-md-6">
				</div>
				<div class="col-lg-2 col-md-6">
				</div>
			</div>
			
		</div>
		
	</div>
{% endblock %}
